ul {
  background-color: darkolivegreen;
}

h1 { 
  padding: 0;
  background-color: darkolivegreen;
  border-bottom: 2px solid wheat;
  text-align: center;
  font-weight: lighter;
} 

.unordered-list {
  font-size: 40px;
}

.heading {
  font-size: 50px;
  text-align: center;
}

body {
  margin: auto;
  text-align: left;
  font-size: 20px;
  padding: 90px;
  max-width: 1080px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.li {
  text-align: justify;
}

@media screen and (max-width: 600px) {
  body {
    padding: 30px;
  }

  h1 {
    font-size: 30px;
  }

  .unordered-list {
    font-size: 30px;
  }

  .heading {
    font-size: 40px; 
  }

  .center {
    width: 80%;
  }

  .li {
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .desktop-only-element {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    padding: 0;
    text-align: center;
  }
}
