ul {
  background-color: darkolivegreen;
}
h1 { 
  padding: center;
  background-color: darkolivegreen;
  border-bottom:2px solid wheat;
  text-align: center;
  font-weight: lighter;
} 

.unordered-list {
  font-size:40px;
}

#heading {
  font-size:50px;
  text-align: center;
}

body {
  margin:auto;
  text-align: left;
  font-size: 20px;
  padding: 95px;
  max-width: 1080px;

}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
